.home-slider {
  text-align: center;
  background-color: beige;
  padding: 2%;
}
.show-slider {
  height: 300px;
  width: 100%;
  display: inline;
}
.hide-slider {
  display: none;
}

.show-slider p {
  font-size: 100px;
}

.show-slider img {
  padding: 10px;
  overflow: hidden;
  max-width: 25%;
}

.btn {
  text-align: center;
  display: block;
}

button {
  padding: 0.5% 2%;
  margin: 1%;
  background-color: rgb(125, 125, 125);
  color: beige;
}

.list-image {
  text-decoration: none;
}

.table-btn {
  display: inline-flex;
}

.table-btn button {
  margin-right: 10px;
}

.page-item {
  margin-right: 20px;
}

.disable {
  display: none;
}
