{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="home-slider">

</div>
<div class="btn">
    <button class="prev disable">prev</button>
    <button class="next disable">next</button>
</div>
<script>
    $(document).ready(function () {
        page = 1,
            page_size = 10,
            count = 0;

        getData();

        // Get data from database...
        function getData() {
            $.ajax({
                method: 'GET',
                url: 'http://localhost:8080/milestones/',
                dataType: 'json',
                data: {
                    page: page,
                    page_size: page_size
                }
            }).done(function (data) {
                if (data['data'] == '') {
                    $(".home-slider").append("<div class='show-slider'>"
                        + "<h3>You have no Milestone</h3>"
                        + "</div>");
                    $(".home-slider").addClass("bg-warning")
                }
                count = data['meta_data'].count;
                if (count > 1) {
                    $(".next").removeClass("disable");
                    $(".prev").removeClass("disable");
                }
                $.each(data['data'], function (index, item) {
                    var url = "{% url 'milestone' %}?id=" + item.id;
                    countTime = new Date(item.date).getTime();
                    makeTimer(countTime, item.id);

                    if (index == 0) {
                        slider = "<div class='show-slider'>"
                            + "<p class='timer_" + item.id + "'>" + "</p>"
                            + "<h3>" + item.name + "</h3>"
                            + "<h6>" + item.description + "</h6>"
                            + "<button class='btn btn-secondary edit' id='item_" + item.id + "'>" + "Edit" + "</button>"
                            + "</div>"
                        $(".home-slider").append(slider);
                        editId = "#item_" + item.id;
                        $(editId).on("click", function () {
                            $(location).attr("href", url);
                            var modal = "#updateModal";
                            $(modal).modal('show');
                        });
                        $.each(item['images'], function (index, item2) {
                            $(".show-slider").append("<img src='" + item2.image + "'>");
                        });
                    } else {
                        slider = "<div class='hide-slider image_" + item.id + "'>"
                            + "<p class='timer_" + item.id + "'>" + "</p>"
                            + "<h3>" + item.name + "</h3>"
                            + "<h6>" + item.description + "</h6>"
                            + "<button class='btn btn-secondary ' id='item_" + item.id + "'>" + "Edit" + "</button>"
                            + "</div>"
                        $(".home-slider").append(slider);
                        editId = "#item_" + item.id;
                        $(editId).on("click", function () {
                            $(location).attr("href", url);
                            var modal = "#updateModal";
                            $(modal).modal('show');
                        });
                        $.each(item['images'], function (index, item2) {
                            className = ".image_" + item.id;
                            $(className).append("<img src='" + item2.image + "'>");
                        });
                    }
                });
            });
        }

        function makeTimer(countTime, itemId) {
            setInterval(() => {
                countDownTime = countTime;
                now = new Date().getTime();
                distance = countDownTime - now;
                days = Math.floor(distance / (1000 * 60 * 60 * 24));
                hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                seconds = Math.floor((distance % (1000 * 60)) / 1000);
                if (distance > 0) {
                    timer = days + " : " + hours + " : " + minutes + " : " + seconds;
                } else {
                    timer = "Expired!"
                }
                className = ".timer_" + itemId;
                $(className).html(timer);
            }, 1000);
        }
    });
</script>
{% endblock %}