{% extends 'base.html' %}
{% block title %}Milestone{% endblock %}
{% block content %}

<h1 class="page-header">Milestones</h1>
<p>
    <button type="button" class="btn btn-primary add-milestone" data-toggle="modal" data-target="#createModal">
        Add Milestone
    </button>
</p>

<table class="table" id="milestone-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">description</th>
            <th scope="col">Date</th>
            <th></th>
        </tr>
    </thead>

    <tbody class="milestone-tbody">

    </tbody>

    <!-- Create Modal -->
    <div id="createModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Milestone</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="create">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description" name="description" required>
                        </div>
                        <div class="mb-3">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                        <div class="mb-3" style="display: flex;">
                            <button type="submit" class="btn btn-primary">Create</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Update Modal  -->
    <div id="updateModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Milestone</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="update">
                        <div class="mb-3">
                            <input type="number" class="form-control" id="id" name="id" hidden>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description" name="description">
                        </div>
                        <div class="mb-3">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" id="date" name="date">
                        </div>
                        <div class="mb-3" style="display: flex;">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal  -->
    <div id="deleteModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Milestone</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="delete">
                        <div class="mb-3">
                            <input type="number" class="form-control" id="id" name="id" hidden>
                            <p>Are you sure you want to delete this 'Milestone'?</p>
                        </div>
                        <div class="mb-3" style="display: flex;">
                            <button type="submit" class="btn btn-primary">Delete</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</table>

<!-- Pagination -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" id="pagination">
        <li class="page-item">
            <button class="page-link prev-btn disable" tabindex="-1">Previous</button>
        </li>
        <li class="page-item">
            <button class="page-link next-btn disable" tabindex="-1">Next</button>
        </li>
    </ul>
</nav>

<script>
    // for csrf_token... 
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    // ready to go...
    $(document).ready(function () {
        var page = 1,
            page_size = 10,
            count = 0,
            totalPage = 0;

        getData();
        createData();
        updateData();
        deleteData();
        paginationData();

        // update option from slider...
        var myParam = location.search.split('id=')[1];
        if (myParam) {
            var url = "http://localhost:8080/milestones/" + myParam + "/";
            $.ajax({
                method: 'GET',
                url: url,
                dataType: 'json',
                data: {
                    page: page,
                    page_size: page_size
                },

            }).done(function (data) {
                editItem(data);
            })
        }

        // Pagination
        function paginationData() {
            $(".next-btn").on("click", function () {
                if (page * page_size < count) {
                    page++;
                    $(".milestone-tbody").html("");
                    getData();
                }
            });

            $(".prev-btn").on("click", function () {
                if (page > 1) {
                    page--;
                    $(".milestone-tbody").html("");
                    getData();
                }
            });
        }

        // Get Milestone
        function getData() {
            $.ajax({
                method: 'GET',
                url: 'http://localhost:8080/milestones/',
                dataType: 'json',
                data: {
                    page: page,
                    page_size: page_size
                }
            }).done(function (data) {
                console.log(data);
                count = data['meta_data'].count;
                totalPage = data['meta_data'].total_page;
                if (count < 11) {
                    $(".next-btn").addClass("disable")
                    $(".prev-btn").addClass("disable")
                } else {
                    $(".next-btn").removeClass("disable")
                    $(".prev-btn").removeClass("disable")
                }
                if (data['data'] == '') {
                    $(".milestone-tbody").append("<tr>" + "<td colspan='6'  class='text-center bg-warning'>" + "You have no Milestone" + "</td>" + "</tr>")
                } else {
                    $(".milestone-tbody").html("");
                    $.each(data['data'], function (index, item) {
                        table = "<tr id='item_" + item.id + "'>"
                            + "<td>" + item.id + "</td>"
                            + "<td>" + item.name + "</td>"
                            + "<td>" + item.description + "</td>"
                            + "<td>" + item.date + "</td>"
                            + "<td>" + "<div class='table-btn'>" + "<button class='btn btn-sm btn-outline-info edit' id='editItem_" + item.id + "'>" + "Edit" + "</button>" + "<button class='btn btn-sm btn-outline-danger delete' id='deleteItem_" + item.id + "'>" + "Delete" + "</button>" + "</div>" + "</td>"
                            + "</tr>"
                        $(".milestone-tbody").append(table);
                        editId = "#editItem_" + item.id;
                        deleteId = "#deleteItem_" + item.id;

                        $(editId).click(function () {
                            editItem(item);
                        });
                        $(deleteId).click(function () {
                            deleteItem(item);
                        });
                    });
                }
            });
        }

        // Add Milestone...
        $(".add-milestone").on("click", function () {
            $("#createModal").modal("show");
        });

        function createData() {
            var modal = "#createModal";
            $(modal).on("submit", function (e) {
                e.preventDefault();
                var currentDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
                var newDate = currentDate.getDate();
                console.log(newDate);
                var milestoneName = $(this).find("input[name='name']").val();
                var milestoneDescription = $(this).find("input[name='description']").val();
                var milestoneDate = $(this).find("input[name='date']").val();
                var url = 'http://localhost:8080/milestones/';
                $.ajax({
                    method: 'POST',
                    url: url,
                    dataType: 'json',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    data: {
                        name: milestoneName,
                        description: milestoneDescription,
                        date: milestoneDate,
                    },
                    success: add_success,
                    error: add_error,
                }).done(function (data) {
                    console.log(data);
                    getData();
                });
            });

            function add_success() {
                $("#createModal").modal("hide");
                $("#create").trigger("reset");
                $(".bg-warning").hide();
            }

            function add_error(milestoneDate, newDate) {
                if (milestoneDate < newDate) {
                    alert("Date will be greater than today")
                } else {
                    alert("Could not add Milestone!");
                }

            }
        }

        // Update Milestone...
        function editItem(item) {
            var modal = "#updateModal";
            $(modal).modal('show');
            $(modal).find("input[name='id']").val(item.id);
            $(modal).find("input[name='name']").val(item.name);
            $(modal).find("input[name='description']").val(item.description);
            $(modal).find("input[name='date']").val(item.date);
        }

        function updateData() {
            var modal = "#updateModal";
            $(modal).on("submit", function (e) {
                e.preventDefault();
                var milestoneId = $(this).find("input[name='id']").val();
                var milestoneName = $(this).find("input[name='name']").val();
                var milestoneDescription = $(this).find("input[name='description']").val();
                var milestoneDate = $(this).find("input[name='date']").val();
                var url = 'http://localhost:8080/milestones/' + milestoneId + '/';
                if (milestoneName.length == '') {
                    alert('Name Required.')
                } else if (milestoneDate.length == '') {
                    alert('Date Required.')
                } else {
                    $.ajax({
                        method: 'PUT',
                        url: url,
                        dataType: 'json',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        data: {
                            name: milestoneName,
                            description: milestoneDescription,
                            date: milestoneDate,
                        },
                        success: update_success,
                        error: update_error,
                    }).done(function (data) {
                        itemId = "#item_" + data.id;
                        table = "<td>" + data.id + "</td>"
                            + "<td>" + data.name + "</td>"
                            + "<td>" + data.description + "</td>"
                            + "<td>" + data.date + "</td>"
                            + "<td>"
                            + "<div class='table-btn'>"
                            + "<button class='btn btn-sm btn-outline-info edit' id='editItem_" + data.id + "'>" + "Edit" + "</button>"
                            + "<button class='btn btn-sm btn-outline-danger delete' id='deleteItem_" + data.id + "'>" + "Delete" + "</button>"
                            + "</div>"
                            + "</td>"
                        $(itemId).html("");
                        $(itemId).append(table);
                        editId = "#editItem_" + data.id;
                        deleteId = "#deleteItem_" + data.id;

                        $(editId).click(function () {
                            editItem(data);
                        });
                        $(deleteId).click(function () {
                            deleteItem(data);
                        });
                    });
                }
            });

            function update_success() {
                $("#updateModal").modal("hide");
            }

            function update_error() {
                alert("Could not update Milestone!");
            }
        }

        // Delete Milestone
        function deleteItem(item) {
            var modal = "#deleteModal";
            var body = $(".milestone-tbody").val();
            var url = 'http://localhost:8080/milestones/' + item.id + '/';
            if ((item.id % 2) == 0) {
                console.log("even")
                var answer = confirm("Are you sure you want to delete this 'Milestone'?");
                if (answer) {
                    // your ajax code
                    $.ajax({
                        method: 'DELETE',
                        url: url,
                        dataType: 'json',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        success: delete_success,
                        error: delete_error,
                    });
                }
            } else {
                $(modal).modal("show");
                $(modal).find("input[name='id']").val(item.id);
            }

            function delete_success() {
                var itemId = "#item_" + item.id;
                $(itemId).remove();
                $(modal).modal("hide");
                $.ajax({
                    method: 'GET',
                    url: 'http://localhost:8080/milestones/',
                    dataType: 'json',
                    data: {
                        page: page,
                        page_size: page_size
                    }
                }).done(function (data) {
                    if (data["meta_data"].count == 0) {
                        $(".milestone-tbody").html("");
                        table = "<tr>"
                            + "<td colspan='6'  class='text-center bg-warning'>"
                            + "You have no Milestone"
                            + "</td>"
                            + "</tr>"
                        $(".milestone-tbody").append(table);
                    } else {
                        getData();
                    }
                });
            }

            function delete_error() {
                alert("Could not delete Milestone!");
            }
        }

        function deleteData() {
            var modal = "#deleteModal";
            $(modal).on("submit", function (e) {
                e.preventDefault();
                var milestoneId = $(this).find("input[name='id']").val();
                var url = 'http://localhost:8080/milestones/' + milestoneId + '/';
                console.log('clicked');
                console.log(milestoneId);
                $.ajax({
                    method: 'DELETE',
                    url: url,
                    dataType: 'json',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: delete_success,
                    error: delete_error,
                });
            });

            function delete_success() {
                $(modal).modal("hide");
                $.ajax({
                    method: 'GET',
                    url: 'http://localhost:8080/milestones/',
                    dataType: 'json',
                    async: false,
                    data: {
                        page: page,
                        page_size: page_size
                    },
                }).done(function (data) {
                    if (data["meta_data"].count == 0) {
                        $(".milestone-tbody").html("");
                        $(".milestone-tbody").append("<tr>"
                            + "<td colspan='6'  class='text-center bg-warning'>"
                            + "You have no Milestone"
                            + "</td>"
                            + "</tr>");
                    } else {
                        getData();
                    }
                });
            }

            function delete_error() {
                alert("Could not delete Milestone!");
            }
        }

    });

</script>

{% endblock %}